@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 83% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 183 100% 74%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 216 91% 45%;
  }
 
  .dark {
    --background: 222 83% 4%;
    --foreground: 210 40% 98%;
    --card: 222 83% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 183 100% 74%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 216 91% 45%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(ellipse 80% 50% at 50% -20%,rgba(120,119,198,0.3), hsla(0,0%,100%,0));
  }
}
